$base-text-color: rgba(77,77,77,87%);
$brand-color: rgb(97, 141, 243, 100%);
$website-linear-grad-begin: rgba(255,255,255,100%);
$website-linear-grad-end: rgba(219,241,245,64%);

.App {
  text-align: center;
  font-family: sans-serif;
  color: $base-text-color;

  .brand-color {
    color: $brand-color;
    text-decoration: none;
  }

  .activity-parent {
    border: 1px solid rgba(0, 0, 0, 12%);

    .activity {
      display: inline-flex;
      flex-wrap: wrap;

      div {
        padding: 10px;
      }

      img {
        height: 117px;
      }
    }
  }


  .nav-bar-left {
    background: linear-gradient(296deg, $website-linear-grad-begin, $website-linear-grad-end);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 250px;
    position: absolute;
    left: 0;
    padding: 40px;
    top: 0;

    .profile-photo img {
      width: 171px;
    }

    border-right: 1px solid rgba(0,0,0, 12%);

    .social-links {
      text-align: left;

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          margin: 0;
          padding: 5px 0 5px 0;
          font-size: 18px;
          a {
            color: $base-text-color;
            text-decoration: none;
            &:hover {
              color: $brand-color;
            }
          }
        }
      }
    }
  }

  .about-section {
    margin-left: 397px;
    width: 392px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 18px;
      margin-top: 0;
    }
  }
}
